<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RMV Technologies</title>
  <link rel="stylesheet" href="static/index.css">
   <link rel="stylesheet" href="static/about.css">
  <link rel="stylesheet" href="static/service.css">
  <link rel="stylesheet" href="static/portfolio.css">
  <link rel="stylesheet" href="static/enquiry.css">
 <link rel="stylesheet" href="static/contact.css">
 
</head>
<body>

  
  <div class="top-bar">
    <div class="left">
      <span>📧 hr.rmvtechnologies@gmail.com</span>
      <span>📞 +91 98765 43210</span>
    </div>
    <div class="right">
      <a href="#"><img src="images/fb.png" width="30" height="30"></a>
      <a href="#"><img src="images/insta.png" width="30" height="30"></a>
      <a href="#"><img src="images/link.png" width="30" height="30"></a>
    </div>
  </div>

  <div class="header">
    <div class="logo-container">
      <img src="images/logo.png" alt="Logo"style="width:30px; height:25px">
      <h1>RMV <br>Technologies</h1>
    </div>
    <div class="nav-links">
      <a href="index.html">Home</a>
      <a href="about.html">About Us</a>
      <a href="service.html">Services</a>
      <a href="portfolio.html">Portfolio</a>
      <a href="enquiry.html">Enquiry</a>
      <a href="contact.html">Contact Us</a>
    </div>
     </div>
      <div class="serv-head">
    <h1>Our Services</h1>
    <p>Explore what RMV Tech offers to grow your digital future.</p>
  
  <center><img src="images/serv-img1.jpeg" style="width:80%;height:400px;">
</center>
</div>

  <section class="services-section">
    <div class="service-grid">

      <!-- Service 1 -->
      <div class="service-card">
        <div class="service-title">Website Design</div>
        <ul class="sub-services">
          <li>Responsive Layouts</li>
          <li>UX/UI Design</li>
          <li>Landing Page Design</li>
          <li>Corporate Sites</li>
          <li>Website Redesign</li>
        </ul>
      </div>

      <!-- Service 2 -->
      <div class="service-card">
        <div class="service-title">Web Development</div>
        <ul class="sub-services">
          <li>HTML/CSS/JS Development</li>
          <li>CMS (WordPress)</li>
          <li>PHP & Laravel</li>
          <li>Database Integration</li>
          <li>Admin Panel</li>
        </ul>
      </div>

      <!-- Service 3 -->
      <div class="service-card">
        <div class="service-title">Mobile App Development</div>
        <ul class="sub-services">
          <li>Android/iOS Apps</li>
          <li>Flutter & React Native</li>
          <li>App UI Design</li>
          <li>Play Store Launch</li>
          <li>Push Notifications</li>
        </ul>
      </div>

      <!-- Service 4 -->
      <div class="service-card">
        <div class="service-title">Digital Marketing</div>
        <ul class="sub-services">
          <li>SEO Optimization</li>
          <li>Google Ads (PPC)</li>
          <li>Social Media Campaigns</li>
          <li>Email Marketing</li>
          <li>Blog Content</li>
        </ul>
      </div>

      <!-- Service 5 -->
      <div class="service-card">
        <div class="service-title">Hosting & Support</div>
        <ul class="sub-services">
          <li>Web Hosting</li>
          <li>Domain Registration</li>
          <li>SSL & Security</li>
          <li>Daily Backups</li>
          <li>Technical Support</li>
        </ul>
      </div>

      <!-- Service 6 -->
     <div class="service-card">
        <div class="service-title">Intership</div>
        <ul class="sub-services">
          <li>Frontend HTML CSS Js</li>
          <li>Backend Python</li>
          <li>Framework React Nodejs</li>
          <li>WordPress</li>
          <li>Digital Marketing</li>
        </ul>
      </div>

    </div>
  </section>





     
<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>RMV</h3>
      <p>RMV Technologies built our dream website – clean, fast, and beautiful!"</p>
    </div>

    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="service.html">Service</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="enquiry.html">Enquiry</a></li>
         <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
   
    <div class="footer-column">
      <h4>Contact Us</h4>
      <p>Email: hr.rmvtechnologies@gmail.com</p>
      <p>Phone: +1 234 567 8901</p>
     <p>Location: 34,karimedu, Arappalayam,</p>
      <p>Madurai, Tamil Nadu 625016</p>
    </div>

    <div class="footer-column">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#">
          <img src="images/fb.png">
          
        </a>
      
        <a href="#">
          <img src="images/insta.png">
        </a>
      
       <a href="#">
          <img src="images/link.png" >
        </a>
      </div>
      
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 RMV. All rights reserved.</p>
  </div>
</footer>